<%- layout('layouts/boilerplate') %>
<!-- pre loader -->
<div class="loader-container">
    <img draggable="false" src="/images/preloader.gif" alt="">
</div>

<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
        <h3>olá,<br /> Eu chamo-me  <span>Edmir</span></h3>
        <p>Eu sou <span class="typing-text"></span></p>
        <a href="#about" class="btn"><span>Sobre</span>
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <!-- Social Links -->
        <div class="socials">
            <ul class="social-icons">
                <li><a class="linkedin" href="https://www.linkedin.com/in/edmir-santos-76319a171/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a class="github" href="https://github.com/Edmirsantos" target="_blank"><i
                            class="fab fa-github"></i></a>
                </li>
                <li><a class="telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/dossantos.edmir/"><i class="fab fa-instagram"
                            target="_blank"></i></a></li>
                <li><a class="dev" href="/" target="_blank"><i class="fab fa-dev"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="image">
        <img draggable="false" class="tilt" src="images/profilePhoto.jpg" alt="">
    </div>
</section>
<!-- hero section ends -->


<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> Sobre <span>Mim</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/About.jpg" alt="">
        </div>
        <div class="content">
            <h3>Eu sou Edmir</h3>
            <span class="tag">Programador Full Stack Javascript e Professor</span>
            <p>Atualmente estou terminando o curso de licenciatura em Física, sou professor e também programador
                Estou na área da programação desde 2016 e de lá pra cá tenho feito alguns cursos na udemy para aprimoração dos meus conhecimentos.
            </p>

            <div class="box-container">
                <div class="box">
                    <p><span> Idade: </span> 23</p>
                    <p><span> Telemóvel : </span> +239 9869673</p>
                </div>
                <div class="box">
                    <p><span> email : </span> edmirsantos28@gmail.com</p>
                    <p><span> país : </span>São tomé e principe</p>
                </div>
            </div>
            <!-- Resume Download Button -->
            <div class="resumebtn">
                <a href="images/educat/edmir.pdf" class="btn" download=""><span>Download resumo</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- about section ends -->

<!-- skills section starts -->
<section class="skills" id="skills">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Abilidades & <span>conhecimentos</span></h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-html5">
                            <span>HTML</span></i>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-css3-alt">
                            <span>CSS</span></i>
                        <span>80%</span>
                    </div>
                    <div class="line css"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-js-square">
                            <span>Javascript</span></i>
                        <span>95%</span>
                    </div>
                    <div class="line javascript"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-bootstrap">
                            <span>Bootstrap 5.2</span></i>
                        <span>70%</span>
                    </div>
                    <div class="line bootstrap"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-php">
                            <span>PHP</span></i>
                        <span>10%</span>
                    </div>
                    <div class="line php"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-database">
                            <span>MySQLi</span></i>
                        <span>85%</span>
                    </div>
                    <div class="line mysqli"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-react">
                            <span>ReactJS</span></i>
                        <span>70%</span>
                    </div>
                    <div class="line reactjs"></div>
                </div>
            </div>

            <div class="col">
                <div class="bar">
                    <div class="info">
                        <i class="fas fa-database">
                            <span>Mongo DB</span></i>
                        <span>90%</span>
                    </div>
                    <div class="line mongo"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-js">
                            <span>ExpressJS</span></i>
                        <span>95%</span>
                    </div>
                    <div class="line express"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-npm">
                            <span>NodeJS</span></i>
                        <span>85%</span>
                    </div>
                    <div class="line nodejs"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-node-js">
                            <span>Mongoose</span></i>
                        <span>80%</span>
                    </div>
                    <div class="line mongoose"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-github">
                            <span>Git & GitHub</span></i>
                        <span>75%</span>
                    </div>
                    <div class="line vcs"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- skills section ends -->


<!-- education section starts -->
<section class="education" id="education">

    <h1 class="heading"><i class="fas fa-graduation-cap"></i> Minha <span>Educação</span></h1>

    <p class="qoute">A educação não é a aprendizagem de factos, mas o treino da mente para pensar.</p>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/college.webp" alt="">
            </div>
            <div class="content">
                <h3>Licenciatura em Física</h3>
                <p>Universidade de São Tomé e Príncipe</p>
                <h4>2020-2024 | Concluindo</h4>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/school.jpg" alt="High School">
            </div>
            <div class="content">
                <h3>Ciências e Tecnologias (Áre A)</h3>
                <p>Liceu Nacional de São tomé e principe</p>
                <h4>Conclui 12ºano no ano lectivo 2018-2019</h4>
            </div>
        </div>

    </div>
</section>
<!-- education section ends -->


<!-- work project section starts -->

<!--
<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projetos <span>Feitos</span></h2>

    <div class="box-container">
        <% for(let i = 0; i < 6; i++) { %>
        <div class="box tilt">
            <img draggable="false" src="<%=projects[i].image%>" alt="Project Image" />
            <div class="content">
                <div class="tag">
                    <h3><%=projects[i].name%> </h3>
                </div>
                <div class="desc">
                    <p><%=projects[i].desc%> </p>
                    <div class="btns">
                        <a href="<%=projects[i].links.view%>" class="btn" target="_blank"><i class="fas fa-eye"></i>
                            View</a>
                        <a href="<%=projects[i].links.code%>" class="btn" target="_blank">Code <i
                                class="fas fa-code"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </div>

    <div class="viewall">
        <a href="/project" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</section>
<!-- work project section ends -->

-->

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experiências</h2>
    <div class="quote">
        <span>cada experiência em sua vida está sendo orquestrada para lhe ensinar algo que você precisa saber para seguir em frente
            e avançar.</span>
    </div>

    <div class="timeline">
        

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Introdução ao Python</h2>
                </div>
                <div class="desc">
                    <h3>Gustavo Guanabara | Curso em vídeo</h3>
                    <p>Novembro de 2017 - 2019 </p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Linguagem C do básico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>ALURA</h3>
                    <p> 2019 - 2021 </p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Introdução ao Javascript</h2>
                </div>
                <div class="desc">
                    <h3>Professor künzel | Udemy</h3>
                    <p>Janeiro de 2022</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Arduino do Basico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>Carla Vanessa Fernandes Azambuja</h3>
                    <p>Março de 2022</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Esp8266</h2>
                </div>
                <div class="desc">
                    <h3>Jader Bernardo| Udemy</h3>
                    <p>Abril 2022</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Desenvolvimento Web completo</h2>
                </div>
                <div class="desc">
                    <h3>Jorge Sant Ana e Jamilton Damasceno| Udemy</h3>
                    <p>Maio 2022 - Janeiro 2023</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Fundamentos do Javascript Funcional</h2>
                </div>
                <div class="desc">
                    <h3>Leonardo Moura Leitão | Udemy</h3>
                    <p>Fevereiro 2023</p>
                </div>
            </div>
        </div>
        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>JavaScript e TypeScript do básico ao avançado</h2>
                </div>
                <div class="desc">
                    <h3>Javascript e TypeScript - front-end e back-end (Full Stack) - Node, Express, noSQL, React, hooks, Redux, Design Patterns</h3>
                    <p>Fevereiro 2023 - Até o momento</p>
                </div>
            </div>
        </div>
        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Javascript for Expert</h2>
                </div>
                <div class="desc">
                    <h3>Javascript e NodeJs para experts | Erickwendel</h3>
                    <p>Atualmente</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Rocketseat</h2>
                </div>
                <div class="desc">
                    <h3>NodeJs + MongoDB + MySQLi + POstgres| Projetos</h3>
                    <p>Agosto 2023 - Atualmente</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Diploma em HTML5, CSS3 & JS</h2>
                </div>
                <div class="desc">
                    <h3>Alison Learning - Microsoft | Udemy</h3>
                    <p>Sembro de 2023</p>
                </div>
            </div>
        </div>

    </div>

    <div class="morebtn">
        <a href="/experience" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

    </div>

</section>
<!-- experience section ends -->

<!-- contact section starts -->
<section class="contact" id="contact">

    <h2 class="heading"><i class="fas fa-headset"></i> Entar em  <span>Contacto</span></h2>

    <div class="container">
        <div class="content">
            <div class="image-box">
                <img draggable="false" src="/images/contact1.png" alt="">
            </div>
            <form action="#">

                <div class="form-group">
                    <div class="field">
                        <input type="text" name="name" placeholder="Nome" required>
                        <i class='fas fa-user'></i>
                    </div>
                    <div class="field">
                        <input type="text" name="email" placeholder="Email" required>
                        <i class='fas fa-envelope'></i>
                    </div>
                    <div class="field">
                        <input type="text" name="phone" placeholder="Telemóvel">
                        <i class='fas fa-phone-alt'></i>
                    </div>
                    <div class="message">
                        <textarea placeholder="Mensagem" name="message" required></textarea>
                        <i class="fas fa-comment-dots"></i>
                    </div>
                </div>
                <div class="button-area">
                    <button type="submit" title="Desculpe, essa funcionalidade ainda não está disponível, mas tenho um chat no canto direito">
                        Enviar <i class="fa fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- contact section ends -->



<!-- scroll top btn -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->
